<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Livros do VNW</title>
    <!-- Link para o arquivo CSS externo -->
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>API de Livros do VNW</h1>
        <h2>Como posso acessar essa API</h2>

        <ul>
            <li>GET(/livros)</li>
            <li>POST(/doar)</li>
        </ul>

        <!-- Link para a página de doação de livros -->
        <a href="http://127.0.0.1:5000/dar">
            Clique aqui para doar um livro
        </a>

        <!-- Link para a página de listagem de livros -->
        <a href="http://127.0.0.1:5000/livros">
            Clique aqui para ver os livros cadastrados
        </a>
    </div>
</body>
</html>